---
import type { Brands as Props } from '~/types';

import Image from '~/components/common/Image.astro';
import Headline from '~/components/ui/Headline.astro';
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';

import GitHubImage from '~/assets/images/brand-github.png';
import GitlabImage from '~/assets/images/brand-gitlab.png';
import DockerImage from '~/assets/images/brand-docker.png';
import NpmImage from '~/assets/images/brand-npm.png';
import RubyImage from '~/assets/images/brand-ruby.png';
import JavaImage from '~/assets/images/brand-java.png';
import GoImage from '~/assets/images/brand-golang.png';
import PythonImage from '~/assets/images/brand-python.png';
import JenkinsImage from '~/assets/images/brand-jenkins.svg';

const {
  title = '',
  subtitle = '',
  tagline = '',
  id,
  isDark = false,
  classes = {},
  bg = await Astro.slots.render('bg'),
} = Astro.props;

const brands = [
  { src: GitHubImage, alt: 'GitHub', width: 80, height: 80 },
  { src: GitlabImage, alt: 'Gitlab', width: 80, height: 80 },
  { src: JenkinsImage, alt: 'Jenkins', width: 80, height: 100 },
  { src: DockerImage, alt: 'Docker', width: 80, height: 80 },
  { src: NpmImage, alt: 'NPM', width: 80, height: 80 },
  { src: RubyImage, alt: 'Ruby', width: 80, height: 80 },
  { src: JavaImage, alt: 'Java', width: 80, height: 80 },
  { src: GoImage, alt: 'Golang', width: 120, height: 80 },
  { src: PythonImage, alt: 'Python', width: 80, height: 80 },
];
---

<WidgetWrapper id={id} isDark={isDark} containerClass={`max-w-6xl mx-auto ${classes?.container ?? ''}`} bg={bg}>
  <Headline title={title} subtitle={subtitle} tagline={tagline} />

  <div class="flex flex-wrap justify-center gap-x-6 sm:gap-x-12 lg:gap-x-24">
    {
      brands.map((brand) => (
        <div class="flex justify-center items-center col-span-1 my-2 lg:my-4 py-3 px-5 rounded-md bg-gray-300 shadow-lg transition-transform duration-300 ease-in-out transform hover:scale-105">
          <Image
            src={brand.src}
            alt={brand.alt}
            class="max-h-full"
            width={brand.width}
            height={brand.height}
            layout="fixed"
          />
        </div>
      ))
    }
  </div>
</WidgetWrapper>
